<div class="main-insight-div">
    <section class="insight-main">
        <h1 class="insight-title">Insights</h1>
        <div class="insight-one">
            <p>Compared to our baseline portfolio you are <span class="insight-span">underweight in International stocks</span> by (8.64)%</p>
        </div>
        <div class="div_separator"></div>
        <div class="insight-two">
            <p>You are currently paying over <span class="insight-span">$2408.34 per year in fees</span> for mutual funds and ETF's.</p>
        </div>
        <div class="div_separator"></div>
        <div class="insight-three">
            <p>You are projected to pay over <span class="insight-span">$119017.22 in 20 years in management fees</span> for mutual funds and ETF's.</p>
        </div>
        <div class="div_separator"></div>
    </section>
</div>
