<div class="main-insight-div">
    <section class="insight-main">
        <h1 class="insight-title">Insights</h1>
        <div class="insight-one">
            <p>insight-one</p>
        </div>
        <div class="div_separator"></div>
        <div class="insight-two">
            <p>insight-two</p>
        </div>
        <div class="div_separator"></div>
        <div class="insight-three">
            <p>insight-three</p>
        </div>
        <div class="div_separator"></div>
    </section>
</div>
