@import "~ngx-chart/styles.scss";

.area-chart {
    margin-top: 200px;
}

.div_separator {
    border-bottom: 2px solid #dddddd;
    width: 100%;
    margin-bottom: 10px !important;
    margin-left: 84px;
}


.net-worth-main-div {
    margin-top: 71px;
    text-align: left;
    width: 61.9% !important;
}

.networth-title{
    margin-left: 80px;
    font-weight: bold;
    font-size: 2em;
}

.alignRight{
    float: right;
    margin-right: -82px;
}