<div class="net-worth-main-div">
  <h1 class="networth-title">Net Worth <span class="alignRight"> {{ netWorth | currency}}</span></h1>
  <div class="div_separator"></div>
  <span class="networth-subscript">LAST 30 DAYS</span>
    <section class="netWorthSection">
        <ngx-charts-area-chart class="area-chart"
            [maxXAxisTickLength]="maxXAxisTickLength"
            [view]="views"
            [legend]="legend"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            >
      </ngx-charts-area-chart>
    </section>
</div>

