@import "~ngx-chart/styles.scss";

/* .netWorthSection {
    width: 100%;
    height: 100%;
} */



/*
.barGraph {
    /* display: flex; */
    /* margin: auto;
    width: 50%; */
    /* height: 100px !important;
display: flex !important;
justify-content: center !important;
margin-left: 20 !important;
margin-left: 30% !important;
margin-right: 30% !important;
height: 100% !important;
}

#lines {
    height: 100% !important;
}

.chart-view .ngx-bar  {


height: 40% !important;
display: flex !important;
justify-content: center !important;
margin-left: 20 !important;
margin-left: 30% !important;
margin-right: 30% !important;
}
 */



