<div class="main-market-mover-div">
    <section class="market-main">
        <h1 class="market-title ">Market Movers</h1>
        <div class="div_separator"></div>
        <span class="market-subscript">TODAY</span>
        <div class="tap-btn">
            <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            {{ 100 | percent}}<br>
            <span>S&P 500</span>
            </button>
            <button class="margin-left" mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            {{ 100 | percent}}<br>
            <span>S&P 500</span>
            </button>
            <button class="margin-left" mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            {{ 100 | percent}}
            <br>
            <span>S&P 500</span>
            </button>
            <button class="margin-left" mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
            {{ 100 | percent}}<br>
            <span>S&P 500</span>
            </button>
        </div>
        <div class="div-your-gainer">
            <h2>YOUR GAINERS</h2>
        </div>
        <div class="div_separator"></div>
        <div class="gainer-list">
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
        </div>
        <div class="div-your-gainer">
            <h2>YOUR LOSERS</h2>
        </div>
        <div class="div_separator"></div>
        <div class="loser-list">
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
            <p>{{"Apple Inc"}} <span class="alignRight">{{2.53 | percent}}</span></p>
        </div>
    </section>
</div>
