<div class="side-sections">
    <p class="side-networth">NET WORTH
      <span class="alignRight">$1000</span>
    </p>
  <section>
    <button class="side-btn" mat-button color="primary" (click)="getCashList()">
      CASH
    <span class="alignRight">{{ 1000  | currency }}</span></button>
    <aside *ngIf="displayCashList">
      <div class="side-main-btn" *ngFor="let item of cashList">
        <button class="side-content-btn" mat-button color="basic">
          {{item.bank}}
          <span class="alignRight">{{item.amount | currency}}</span><br>
          <span class="side-subscript">Savings</span>
        </button>
        <div class="div_separator"></div>
      </div>
    </aside>
  </section>
  <section>
    <button class="side-btn" mat-button color="primary" (click)="getInvestmentList()">
      INVESTMENT
      <span class="alignRight">{{ 1000  | currency }}</span>
    </button>
    <aside *ngIf="displayInvestmentList">
      <div class="side-main-btn" *ngFor="let item of investmentList">
        <button class="side-content-btn" mat-button color="basic">
          {{item.symbol}}
          <span class="alignRight">{{item.price | currency}}</span>
        </button>
        <div class="div_separator"></div>
      </div>
    </aside>
  </section>
</div>
