.side-btn{
    background-color: #b3bac0;
    color: black;
    border-radius: 0;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.4);
    text-align: left;
}
.side-sections {
    font-weight: bold;
}

.alignLeft{
    float: left;
}

.alignRight{
    float: right;
}
.side-networth{
    margin-top: 4.4%;
    margin-left: 5.5%;
}

.side-networth span{
    margin-right: 5.5%;
}

.side-content-btn{
    color: rgb(0, 59, 112);
    border-radius: 0;
    font-weight: bold;
    width: 100%;
    text-align: left;
}
.side-content-btn span {
    color: black;
    font-weight: normal;
}

.div_separator {
    border-bottom: 2px solid #dddddd;
}

.displayCashList .div_separator:last-child {
    border-bottom: 0px;
}

.side-subscript{
    font-size: 14px;
    color: #696969;
    margin-top: 200%;
    font-weight: bold;
}

.citi-logo {
    position: relative;
    width: 30%;
    right: 20px;
    bottom: 15px;
}

.side-subscript-own{
    font-size: 14px;
    color: #696969;
    margin-top: 200%;
    font-weight: bold;
    margin-left: 10%;
}