@import "~ngx-chart/styles.scss";

.area-chart {
    margin-top: 200px;
}

.div_separator {
    border-bottom: 2px solid #dddddd;
    width: 100%;
    margin-bottom: 10px !important;
    margin-left: 84px;
}


.cash-flow-main-div {
    margin-top: 400px;
    text-align: left;
    width: 61.9% !important;
    position: absolute;
    
}

.cash-flow-title{
    margin-left: 80px;
    font-weight: bold;
    font-size: 2em;
}

.cash-flow-title span {
    color: rgb(0, 59, 112);
}

.alignRight{
    float: right;
    margin-right: -82px;
}
.cash-flow-section {
    display: flex;
    margin-left: 200px;
    margin-top: -20px;
    justify-content: space-between;
}

.cash-flow-subscript{
    margin-left: 80px;
    color: #696969;
    font-weight: bold;
}